# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/*
!.idea/codeStyles
!.idea/copyright
# The `webResources` file stores the "marked as resource" directory,
# making sure no false errors occurs due to statements like @use "foo",
# which is short-hand for @use "src/sass/foo.sass" in Sass files.
!.idea/webResources.xml
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lock files from PMs we **won't** use
yarn.lock
pnpm-lock.yaml